*{
  margin: 0;
  padding: 0;
}

:root{
  --corDiv: #F2A516;
  --corHeader: #F26E22;
  --corFundo: #fff;
  --corTexto: #fff;
}

body{
  background: #fff;
  color: #000;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background: var(--corHeader);
  align-items: center;
  color: #fff;
}

header nav{
  display: flex;
  gap: 1em;
}

.container{
  background: var(--corDiv);
  margin: 0 auto;
  width: 90%;
  margin-top: 1em;
  padding: 5px;
  border-radius: 6px;
  color: var(--corTexto);
}

.container h3{
  text-align: center;
  margin-bottom: 0.5em;
}

.form-g {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.form-g input, textarea {
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 4px;
}

.container button{
  background: #8CBF3F;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  margin-top: 0.5em;
}